body {
    font-family: 'Montserrat', sans-serif;
}

h1.h2.h3 {
    font-weight: 900;
}

h4, h5, h6 {
    font-weight: 700;
}

/* BUTTONS */

.btn-outline-secondary {
    background-color: transparent !important;
    border-color: #011627 !important;
    color: #011627 !important;
    border-radius: 0;
    position: relative;
}

.btn-outline-secondary:before {
    content: '';
    position: absolute;
    background-color: #83f3ED;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.5s;
}

.btn-outline-secondary:hover::before {
    width: 100%;
}

.btn-secondary {
    background: #011627 !important;
    border-radius: 0%;
    border-color: #011627 !important;
}

.btn-secondary:hover {
    color: #83f3ED !important;
}

.btn-primary {
    background: #83f3ED !important;
    border-radius: 0%;
    border-color: #83f3ED !important;
    color: #011627 !important;
}

.btn-primary:hover {
    background: #011627 !important;
    color: #83f3ED !important;
}

/* NAVBAR */

.navbar {
    border-bottom: 1px solid #eee;
}

.nav-link, .navbar-brand {
    color: #011627;
}

.nav-link:hover, .navbar-brand:hover {
    color: #777;
}

.navbar-brand {
    font-size: 1.8rem;
}

/* CALL TO ACTION */

.call-to-action {
    background: #011627;
    color: #fafaff;
}

.heading-line {
    height: 3px;
    width: 10%;
    background: #83f8ed;
}

/* SERVICES */

.services i {
    font-size: 2rem;
    color: #83f3ED;
}

/* PORTFOLIO */

.dark {
    color: #83f3ED;
    background: #011627;
    height: 300px;
}

.dark i {
    font-size: 1.3rem;
    color: #83f3ED;
}

.portfolio .img-fluid {
    height: 300px;
    object-fit: cover;
}

.portfolio .col-lg-3 {
    position: relative;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #83f3ED;
    opacity: 0.8;
}

/* FOOTER */

.footer {
    background: #011627;
    color: #fafaff;
}

.footer a{
    color: #fafaff;
}

/* RESPONSIVENESS */

@media(max-width: 900px) {
    .navbar .nav-item{
        display: block;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }
    .call-to-action .container{
        width: 100% !important;
    }
}